# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

########################################################################
# BE CAREFUL WITH NEW RULES! THEY APPLY GLOBALLY TO THE WHOLE PROJECT! #
#                                                                      #
# Instead you should probably limit the scope and create a .gitignore  #
# in the directory of the specific module you want to affect.          #
########################################################################

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

 # Visual Studio 2015 cache/options directory
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json