<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="LibBasBinding" type="Digst.OioIdws.LibBas.Bindings.LibBasBindingCollectionElement, Digst.OioIdws.LibBas"/>
      </bindingExtensions>
      <behaviorExtensions>
        <add name="LibBasBehavior" type="Digst.OioIdws.LibBas.Behaviors.LibBasClientBehaviorExtensionElement, Digst.OioIdws.LibBas"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LibBasBehaviourConfiguration">
          <clientCredentials>
			  <clientCertificate findValue="A8 2C EA 2B 27 ED B5 EB 7D D4 F4 38 57 FD 70 A6 AC 49 16 0B"
          storeLocation="CurrentUser"
         storeName="My"
          x509FindType="FindByThumbprint"/>
            <serviceCertificate>
              <!-- Change this to match the service certificate which is used to authenticate the service to clients.  -->
              <!-- If you have installed your certificate in another store than "Local Computer -> TrustedPeople" you will have to update storeLocation and StoreName. -->
              <!-- You will have to update the findValue to match the SHA-1 thumbprint of your client certificate. Thumbprint of the certificate can be found in certificate detail if using MMC to view the certificate. -->
              <!-- TO_BE_MODIFIED -->
			  				
             <defaultCertificate findValue="91 db 82 27 0b e1 a5 e6 68 66 33 d8 e1 a5 2e 70 3a 71 c8 c2" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint"/>
            </serviceCertificate>
          </clientCredentials>
          <LibBasBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="DemoBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="DemoBinding1"/>
      </basicHttpBinding>
      <LibBasBinding>
        <binding name="LibBasBindingConfiguration"/>
      </LibBasBinding>
    </bindings>
    <!-- Change URL if calling other environment. -->
    <!-- TO_BE_MODIFIED -->
    <client>
      <endpoint address="https://exttest.serviceplatformen.dk:443/service/SP/Demo/1/" behaviorConfiguration="LibBasBehaviourConfiguration" binding="LibBasBinding" bindingConfiguration="LibBasBindingConfiguration" contract="DemoService.DemoPortType" name="DemoTokenClient"/>
		
	</client>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647"/>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="Tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="Messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>
