<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="LibBasBinding"
             type="Digst.OioIdws.LibBas.Bindings.LibBasBindingCollectionElement, Digst.OioIdws.LibBas" />
      </bindingExtensions>
      <behaviorExtensions>
        <add name="LibBasBehavior"
             type="Digst.OioIdws.LibBas.Behaviors.LibBasClientBehaviorExtensionElement, Digst.OioIdws.LibBas" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LibBasBehaviourConfiguration">
          <clientCredentials>
            <serviceCertificate>
              <!-- Change this to match the service certificate which is used to authenticate the service to clients.  -->
              <!-- If you have installed your certificate in another store than "Local Computer -> TrustedPeople" you will have to update storeLocation and StoreName. -->
              <!-- You will have to update the findValue to match the thumbprint of your client certificate. Thumbprint of the certificate can be found in certificate detail if using MMC to view certificate. -->
              <!-- TO_BE_MODIFIED -->
              <defaultCertificate findValue="12 ca ef f4 d7 76 67 1a e1 77 02 5c 01 4e e7 fa a6 a0 f8 11"
                                  storeLocation="LocalMachine"
                                  storeName="TrustedPeople"
                                  x509FindType="FindByThumbprint" />
            </serviceCertificate>
          </clientCredentials>
          <LibBasBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <LibBasBinding>
        <binding name="LibBasBindingConfiguration" />
      </LibBasBinding>
    </bindings>
    <!-- Change URL if calling other environment. -->
    <!-- TO_BE_MODIFIED -->
    <client>
      <endpoint address="https://exttest.serviceplatformen.dk:443/service/SP/Demo/1/"
        behaviorConfiguration="LibBasBehaviourConfiguration" binding="LibBasBinding"
        bindingConfiguration="LibBasBindingConfiguration" contract="DemoService.DemoPortType"
        name="DemoTokenClient" />
    </client>
  </system.serviceModel>
</configuration>